/* screen - log-on */

.log-on {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  height: 982px;
  overflow: hidden;
  width: 1512px;
}

.log-on .overlap-group {
  height: 1035px;
  position: relative;
  width: 2033px;
}

.log-on .rectangle-1 {
  background-color: var(--caper);
  border: 1px none;
  height: 982px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1512px;
}

.log-on .rectangle-64 {
  background-color: var(--saddle);
  border: 1px none;
  height: 922px;
  left: 519px;
  position: absolute;
  top: 93px;
  width: 993px;
}

.log-on .rectangle-64-1 {
  height: 435px;
  left: 555px;
  position: absolute;
  top: 460px;
  width: 957px;
}

.log-on .screen-shot-2022-09-24-at-1251-1 {
  height: 93px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1512px;
}

.log-on .rectangle-72 {
  height: 51px;
  left: 18px;
  position: absolute;
  top: 256px;
  width: 484px;
}

.log-on .rectangle-73 {
  height: 51px;
  left: 18px;
  position: absolute;
  top: 331px;
  width: 484px;
}

.log-on .username {
  left: 46px;
  letter-spacing: 0;
  position: absolute;
  top: 259px;
  width: 233px;
}

.log-on .password {
  left: 46px;
  letter-spacing: 0;
  position: absolute;
  top: 330px;
  width: 260px;
}

.log-on .rectangle-7 {
  background-color: var(--white);
  border: 1px none;
  border-radius: 28px;
  box-shadow: 0px 4px 4px #00000040;
  height: 42px;
  left: 306px;
  position: absolute;
  top: 439px;
  width: 192px;
}

.log-on .rectangle-76 {
  background-color: var(--white);
  border: 1px none;
  border-radius: 28px;
  box-shadow: 0px 4px 4px #00000040;
  height: 46px;
  left: 270px;
  position: absolute;
  top: 914px;
  width: 198px;
}

.log-on .rectangle-72-1 {
  background-color: var(--caper);
  border: 1px none;
  border-radius: 28px;
  cursor: pointer;
  height: 31px;
  left: 311px;
  position: absolute;
  top: 445px;
  width: 180px;
}

.log-on .rectangle-74 {
  background-color: var(--caper);
  border: 1px none;
  border-radius: 28px;
  cursor: pointer;
  height: 31px;
  left: 279px;
  position: absolute;
  top: 922px;
  width: 180px;
}

.log-on .dont-have-a-account {
  left: 74px;
  letter-spacing: 0;
  position: absolute;
  top: 915px;
  width: 1013px;
}

.log-on .switch-to-sign-up {
  left: 303px;
  letter-spacing: 0;
  position: absolute;
  top: 916px;
  width: 252px;
}

.log-on .log-in {
  left: 374px;
  letter-spacing: 0;
  position: absolute;
  top: 442px;
  width: 233px;
}

.log-on .koromiko-hebe-stricta-kahikatea-farm-4-1 {
  height: 393px;
  left: 581px;
  object-fit: cover;
  position: absolute;
  top: 482px;
  width: 931px;
}

.log-on .ixxn221_a2_-logo-copy-14 {
  height: 161px;
  left: 1359px;
  position: absolute;
  top: 102px;
  width: 153px;
}

.log-on .hamuhamu {
  left: 977px;
  letter-spacing: 0;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  top: 107px;
  width: 1056px;
}
